.for-us-wrapper {
  padding: 1.5rem;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50 / 50 */
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.for-us-left,
.for-us-right {
  width: 100%;
  text-align: center;
}

.for-us-left {
  overflow-y: hidden;
}

.for-us-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1.5%;
}

.for-us-text {
  color: #9a9a9a;
  text-align: justify;
  flex: 1;
}
