.menu-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: #f4f2ed;
}

.menu-wrapper-inner {
  width: 70%;
  margin: auto;
}

@media (max-width: 768px) {
  .menu-wrapper-inner {
    width: 100%;
  }
}

.menu-wrapper-inner:first-child {
  text-align: center;
}

.menu-list-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 0.5rem;
  gap: 0.5rem;
  background: white;
  border-radius: 2rem;
  margin: auto;
  margin-top: 3rem;
}

.menu-list-item {
  padding: 13px 36px;
  flex: 0 0 auto;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    background-color: #c4c4ca;
  }
}

.menu-list-item-active {
  background-color: #20202f;
  color: white;
}

.menu-card-image {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 17vh;
  border-radius: 0.5rem;
}
