body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

span {
  font-size: 1rem;
  color: rgb(56, 59, 61);
  font-weight: 500;
}

p,
span,
a {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
}
