name: Workflow pipeline for testing dependencies

on:
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: npm ci #clean install dependencies
      - run: npm run build
